header {
    background-color: white;
    transition: var(--transition);

    .navbar {
        border-bottom: 1px solid hsla(0 0% 80% / 1);
    }

    a.nav-link {
        color: var(--col-dark);
        font-size: var(--fs-400);
        transition: color var(--transition);
        @media (min-width:992px) {
            &:hover {
                color: var(--col-grey-400);
            }
        }
    }

    .logo {
        background-image: url(../img/ascended-healing-header-logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        aspect-ratio:  266 / 60; // 344 / 126 = 172 / 63
        width: 266px;
        max-width: 100%;
        transition: width var(--transition);
    }

    &.hide {
        transform: translateY(-85px);
    }

    @media (min-width:992px) {
        .nav-top {
            display: grid !important;
            justify-content: normal !important;
            justify-items: center;
        }
        .top-nav {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            align-items: center;
            justify-items: center;
            &__call {
                display: block;
            }
            &__email {
                display: block;
            }
        }
    }

    .navbar-nav {
        font-weight: var(--fw-600);
    }

    .menu-item {
        border-bottom: 4px solid transparent;
        transition: border-color var(--transition);
        &:hover {
            border-bottom: 4px solid var(--col-green);
        }
    }
    .current-menu-item {
        font-weight: var(--fw-900);
        border-bottom: 4px solid var(--col-blue);
    }

}